{%extends 'base_layout.html'%}

{%block content%}


	<!-- Homepage when logged in -->
	{%if user.is_authenticated%}
	<div class="home-txt">
		<h1>Title In Progress</h1>
		<p class="home-txt"> Search Bar <a class="quick-link-home" href="https://www.spotify.com/us/" target="_blank">here</a>!</p>
		<input class="search-bar"type="text" placeholder="Search">
	</div>

	<!-- Homepage when not logged out -->
	{%else %}
		<div class="home-txt">
			<h1>Title In Progress</h1>
			<p class="home-txt"> homepage text in progress logged out </p>
			<input class="search-bar" type="text" placeholder="Search">
		</div>

	{%endif%}
	
{%endblock%}